body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  background-color: black;
  color:white; 
}

#root {
  width:100%; 
  height:100%; 
  
}
.day {
  width: 14.2%;
  min-height:30px; 
  height:100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color:white; 
}


#overviewroot{
  color:white; 
  width:100%; 
  height:100%; 
  position:absolute; 
  top:0; 
  background-color: black;
}


#personoverviewrow {
  width:100%; 
  display:inline-block; 
}
#personoverviewrow p{
  display:inline-block; 
}

.error {
  background-color: red;
  color:red; 
}
#addperson{
  color:white; 
  width:100%; 
  height:100%; 
  position:absolute; 
  top:0; 
  background-color: rgba(0, 0, 0, 0.726);
}
